*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Belanosima', sans-serif;
    
    }

body {
background-color: #f2faf9;
}

header{
    display: flex;
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;

}
header i {
    font-size: 30px;
    margin-right: 10px;
    padding-left: 10px;
    border-left: 5px solid #01d3c8;
}

.btn-acoes {
    display:flex;
    justify-content: space-around;
    margin: 10px 200px;
}


.btn-acoes button {
    background-color: #02413d;
    border-radius: 3px;
    padding: 10px;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
}

form{
    margin-top: 20px;
    display: none;
}
form button {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 3px;
    margin-left: 10px;
}
form input{
    padding: 8px;
}

form label{
    margin-left: 20px;
}
.container{
    margin: 0 auto;
    width: 70%;
    text-align: center;
    padding: 20px 10px;
}
.adicionar-contato {
    margin-bottom: 20px;
    padding: 10px 30px;
    border-bottom: 3px solid #02413d;
    border-top: 3px solid #02413d;
}

.tabela-contatos {
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-right: auto;
    margin-left: auto;

}



table th{
    border-bottom: 2px solid #990606;

    
}

table td{
    padding: 5px 10px;
    background-color: antiquewhite;
}


tfoot{
   padding-top: 20px;
   display: flex;
   justify-content: center;
}

