*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: rgb(214, 240, 188);
    font-family: 'Roboto', 'sans-serif';
}

.container {
    display: flex;    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
    max-width: 1024px;
    width: 100%;
}

.container > button {
    padding: 20px 10px;
    border-radius: 10px;
    background-color: rgb(235, 238, 64);
    font-weight: bold;
    font-size: 20px;
}

form {
    max-width: 400px;
    width: 100%;
    text-align: left;
}
form, h2 {
    padding-top: 20px;
    
}
h2{
    border-bottom: 2px solid #000;
    max-width: 500px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.form-campo {
    display: block;
    font-weight: bold;
    max-width: 100%;
    margin-bottom: 16px;
}

.form-campo label {
    margin-bottom: 12px;
    display: block;

}
.form-campo input {
    background-color: rgb(225, 231, 130);
    width: 250px;
    height: 30px;
    margin-bottom: 10px;

}

form button {
    max-width: 100%;
    padding: 20px 10px;
    border-radius: 20px;
    font-weight: bold;
    background-color: #66a859;
    margin: 0 auto;
    display: flex;
    cursor: pointer;
}